<html>
    <head>
        <meta charset="UTF-8">
        <title>Twitter User Word Cloud</title>
        <script src="{{ url_for('static',filename='js/d3.js') }}"></script>
        <script src="{{ url_for('static',filename='js/d3.layout.cloud.js') }}"></script>
        <script src="{{ url_for('static',filename='js/d3.wordcloud.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    Please select a political party:
                    <form id="myform" action = "{{url_for('get_party_word_cloud')}}" method = "POST">
                        <select name="pol_party" onchange="change()">
                            <option selected disabled hidden style='display: none' value=''></option>
                            {% for op in options %}
                            <option value="{{op.name}}">{{op.name}}</option>
                            {% endfor %}
                        </select> 
                    </form>
                    <h4>Showing Twitter word usage for: {{pol_party}}</h4>
                    <div id='wordcloud'></div>
                    <h4>Sentiment Score: {{sentiment}}</h4>
                </td>
                <!--<td>
                    <p>A second column for comparison of two users?</p>
                </td>-->
            </tr>
        </table>
        <div id="result"></div>
    </body>

    <script>
        function draw_word_cloud(wc_words) {
            {% if words is not none %}
            d3.select("#wordcloud").selectAll("svg").remove();
            d3.wordcloud()
            .size([400, 400])
            .selector('#wordcloud')
            {# .words([{text: 'word', size: 5}, {text: 'cloud', size: 15}]) #}
            .words(wc_words)
            .start();
            {% endif %}
        }
        {% if words is not none %}
        draw_word_cloud({{words|safe}})
        {% endif %}
    </script>
    <script>
        function change(){
            document.getElementById("myform").submit();
        }
    </script>
    <script>
        setInterval(
            function()
            {
                $.ajax({
                    url:"{{ url_for("get_party_values", _external=True) }}",
                    type: 'POST',
                    data: "{{ pol_party }}",
                    success: function(response) {
                        $("#result").text(response.result);
                        draw_word_cloud(response.new_wc_words);
                    }
                });
            }, 3000);
    </script>
</html>
